.Carousel-Div{
  display: flex;
  height: 50vh;
  margin: 10px 200px;
  overflow: hidden;
}
.Carousel-Pictures-Div{
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.Carousel-Direction{
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
}
.Carousel-Direction samp{
  color: var(--Bg-Color);
  font-size: 2em;
  cursor: pointer;
  transition: .2s;
}
.Carousel-Direction samp:hover{
  transform: scale(1.1);
}
.Carousel-Descripcion-Div{
  width: 35%;
  background-color: var(--Bg-Color);
  border-radius: 10px;
}
.Carousel-Center{
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-direction: column;
}
.Carousel-Center div{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 400px){
  .Carousel-Descripcion-Div{
    display: none;
  }
  .Carousel-Div{
    height: 35vh;
    margin: 10px 10px;
  }
  .Carousel-Pictures-Div{
    width: 100%;
  }
}
